
@font-face {
    font-family: CarGo;
    src: url("CarGoFrame31Demo-1Bg2.ttf");
}

body{
    background-color: rgb(255, 255, 255);
}


li{
    list-style: none;
    padding: 0.8rem;
    border: 1px gray solid;
    margin: 0.5rem;
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    font-family: CarGo;
    font-size: 2rem;
}


#cpt-card{
    border-left: 4px blue solid; 
    border-radius: 0px;
    background: rgba(14, 14, 255, 0.072);
}
#stellies-card{
    border-left: 4px blue solid; 
    border-radius: 0px;
    background: rgba(14, 14, 255, 0.072);
}
#bellville-card{
    border-left: 4px blue solid; 
    border-radius: 0px;
    background: rgba(14, 14, 255, 0.072);
}
#paarl-card{
    border-left: 4px blue solid; 
    border-radius: 0px;
    background: rgba(14, 14, 255, 0.072);
}
#kr-card{
    border-left: 4px blue solid; 
    border-radius: 0px;
    background: rgba(14, 14, 255, 0.072);
}
#malmesbury-card{
    border-left: 4px blue solid; 
    border-radius: 0px;
    background: rgba(14, 14, 255, 0.072);
}
