@font-face {
    font-family: CarGo;
    src: url("CarGoFrame31Demo-1Bg2.ttf");
}
@font-face {
    font-family: Adventure;
    src: url("CarGoPlain31Demo-npBg.ttf");
}

body {
    background-color: rgb(255, 255, 255);
}

#title {
    font-family: Adventure;
    font-size: 2.5rem;
    /* background: linear-gradient(to left, rgba(134, 134, 134, 0.641) 25%, rgb(0, 2, 50) 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
     */
     color:rgb(48, 48, 48);
}

li {
    list-style: none;
    padding: 0.6rem;
    border: 1px gray solid;
    margin: 0.5rem;
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    font-family: CarGo;
    font-size: 2.5rem;
    color: black;
}

#town {
    color: rgb(118, 117, 117);
}
.town-count {
    color: rgb(64, 64, 64);
}

#cpt-card {
    border-left: 4px rgba(0, 0, 255, 0.285) solid;
    border-radius: 0px;
    /* background: rgba(14, 14, 255, 0.072); */
}
#stellies-card {
    border-left: 4px rgba(255, 208, 0, 0.327) solid;
    border-radius: 0px;
    /* background: rgba(255, 203, 14, 0.072); */
}
#bellville-card {
    border-left: 4px rgb(0, 191, 35, 0.285) solid;
    border-radius: 0px;
    /* background: rgba(14, 255, 74, 0.072); */
}
#paarl-card {
    border-left: 4px rgb(255, 0, 200, 0.285) solid;
    border-radius: 0px;
    /* background: rgba(255, 14, 223, 0.072); */
}
#kr-card {
    border-left: 4px rgba(255, 51, 0, 0.285) solid;
    border-radius: 0px;
    /* background: rgba(255, 203, 14, 0.072); */
}
#malmesbury-card {
    border-left: 4px rgba(0, 204, 255, 0.285) solid;
    border-radius: 0px;
    /* background: rgba(14, 14, 255, 0.072); */
}
.card{
    border-left: 4px rgba(0, 76, 255, 0.407) solid !important;
    box-shadow: 0 0 6px rgb(122, 122, 122);
}
.errors{
    background-color: rgba(255, 0, 0, 0.124);
    padding: 0.6rem;
    border-radius: 20px;
    color:rgb(218, 2, 2);
    border: 1px rgb(208, 0, 0) solid;
    display: none;
}
#duplicate-error{
    background-color: rgba(255, 128, 0, 0.124) !important;
    color:rgb(255, 103, 32) !important;
    border: 1px rgb(241, 152, 9) solid !important;
}